<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>org.systemexception.crudapplication.servlet.HelloWorld</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BadWorld</servlet-name>
		<servlet-class>org.systemexception.crudapplication.servlet.BadWorld</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertEmployee</servlet-name>
		<servlet-class>org.systemexception.crudapplication.servlet.InsertEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListEmployees</servlet-name>
		<servlet-class>org.systemexception.crudapplication.servlet.ListEmployees</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RandomEmployee</servlet-name>
		<servlet-class>org.systemexception.crudapplication.servlet.RandomEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeesJson</servlet-name>
		<servlet-class>org.systemexception.crudapplication.servlet.EmployeesJson</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteEmployee</servlet-name>
		<servlet-class>org.systemexception.crudapplication.servlet.DeleteEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BadWorld</servlet-name>
		<url-pattern>/BadWorld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertEmployee</servlet-name>
		<url-pattern>/InsertEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListEmployees</servlet-name>
		<url-pattern>/ListEmployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RandomEmployee</servlet-name>
		<url-pattern>/RandomEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeesJson</servlet-name>
		<url-pattern>/EmployeesJson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEmployee</servlet-name>
		<url-pattern>/DeleteEmployee</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>HelloWorld</welcome-file>
	</welcome-file-list>
</web-app>
